@page "/changepassword"

<section class="login-section">
    <h3>Change Password</h3>
    <div class="form">
        <div class="username">
            <Input id="" placeholder="New Password">
        </div>
        <div class="password">
            <Input type="text" placeholder="Confirm Password">
         </div>
         <div class="button">
            <button class="btn btn-lg login-button">Submit</button>
         </div>
    </div>
</section>