@page "/createevent"
@inherits CreateEventBase

@if (IsDataLoaded)
{
    <h3 style="margin-top: 1cm">Create Event</h3>

    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger">@ErrorMessage</div>
    }

    <EditForm Model="@Event" OnValidSubmit="@CreateEvent" class="create-event">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group" style="width: 50%; margin-top: 1cm">
            <label for="name">Event Name:</label>
            <InputText id="name" class="form-control" @bind-Value="Event.EventName" />
        </div>

        <div class="form-group" style="width: 50%; margin-top: 0.5cm">
            <label for="isMultiDay">Is the event more than one day?</label>
            <InputCheckbox id="isMultiDay" @bind-Value="Event.IsMultiDay" @onchange="ToggleMultiDay" />
        </div>

        @if (Event.IsMultiDay)
        {
            <div class="form-group" style="width: 50%; margin-top:0.5cm">
                <label for="startDate">Start Date:</label>
                <InputDate Type="InputDateType.DateTimeLocal" id="startDate" class="form-control" @bind-Value="Event.StartDate" />
            </div>

            <div class="form-group" style="width: 50%">
                <label for="endDate">End Date:</label>
                <InputDate Type="InputDateType.DateTimeLocal" id="endDate" class="form-control" @bind-Value="Event.EndDate" />
            </div>
        }
        else
        {
            <div class="form-group" style="width: 50%; margin-top: 0.5cm">
                <label for="date">Event Date: </label>
                <InputDate Type="InputDateType.DateTimeLocal" id="date" class="form-control" @bind-Value="Event.EventDate" />
            </div>
        }

        <div class="form-group" style="width: 50%">
            <label for="location">Location:</label>
            <InputText id="location" class="form-control" @bind-Value="Event.Location" />
        </div>

        <div class="form-group" style="width: 50%">
            <label for="eventTypeId">Event Type:</label>
            <InputSelect id="eventTypeId" class="form-control form-select" @bind-Value="Event.EventTypeId">
                @foreach (var eventType in EventTypes)
                {
                    <option value="@eventType?.EventTypeId">@eventType?.EventTypeName</option>
                }
            </InputSelect>
        </div>

        <div class="form-group" style="width: 50%">
            <label for="ticketTypeId">Ticket Type:</label>
            <InputSelect id="ticketTypeId" class="form-control form-select" @bind-Value="Event.TicketTypeId">
                @foreach (var ticketType in TicketTypes)
                {
                    <option value="@ticketType?.TicketTypeId">@ticketType?.TicketTypeName</option>
                }
            </InputSelect>
        </div>
        
        <div class="form-group" style="width: 50%">
            <label for="description">Description:</label>
            <InputTextArea id="description" class="form-control" @bind-Value="Event.Description" placeholder="Tell us about the event"></InputTextArea>
        </div>

        <div class="form-group" style="width: 50%">
            <label for="limit">Limit:</label>
            <InputNumber id="limit" class="form-control" @bind-Value="Event.Limit" />
        </div>

        <div class="form-group" style="width: 50%">
            <label for="image">Image: <span style="color: grey; font-style:italic">Optional</span></label>
            <InputFile id="image" class="form-control" OnChange="HandleFileUpload" />
        </div>
        @if (Event.Image != null)
        {
            <img src="@($"data:image/png;base64,{Convert.ToBase64String(Event.Image)}")" alt="Event Image" style="width: 150px; height: 150px; margin-top: 10px"/>
        }

        <div>
            <button type="submit" class="btn btn-outline-primary" style="margin-top: 0.5cm; margin-bottom: 0.5cm">Create</button>
        </div>
    </EditForm>

}
else
{
    <h4>Loading...</h4>
}
