@page "/updateeventtype/{id}"
@inherits UpdateEventTypeBase

<h3 style ="margin-top: 1cm">Update Event Type</h3>

<EditForm Model="eventType" OnValidSubmit="UpdateEventType">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group" style="width: 50%; margin-top: 1cm">
        <label for="EventTypeName">Event Type Name:</label>
        <InputText id="EventTypeName" @bind-Value="eventType.EventTypeName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 0.5cm">Update</button>
</EditForm>

@if (isSuccess)
{
    <p class="text-success">Update successful!</p>
}

@if (error != null)
{
    <p class="text-danger">@error</p>
}
