@page "/eventlist"
@inherits EventListBase

<PageTitle>Events</PageTitle>

<div class="text-center">
    <form class="search-container">
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Search event">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>

@if (events == null)
{
    <div class="loading">
        <h4 style="text-align: center; margin-top: 1cm">Loading...</h4>
    </div>
}
else
{
    if (events.Any())
    {
        <div class="d-flex justify-content-center">
            <table class="table" style="width: 50%; margin-top: 1cm">
                <thead>
                    <tr>
                        <th class="table-header">Event Name</th>
                        <th class="table-header">Event Date</th>
                        <th class="table-header">Location</th>
                        <th class="table-header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var evnt in events)
                    {
                        <tr>
                            <td>@evnt.EventName</td>
                            <td>@evnt.EventDate</td>
                            <td>@evnt.Location</td>
                            <td class="button-container">
                                <button type="button" class="btn btn-secondary btn-sm" @onclick="() => NavigateToUpdateEvent(evnt.EventId)">
                                    <i class="fa fa-pencil"></i> Edit
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" @onclick="() => NavigateToDeleteEvent(evnt.EventId)">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p><em>No event found.</em></p>
    }
}
