@page "/forgot-password"
@inherits ForgotPasswordBase

<section class="change-password-section">
    <h3>Forgot Password</h3>
    <EditForm Model="forgotPasswordModel" OnValidSubmit="OnForgotPassword">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form">
            <div class="current-password">
                <InputText @bind-Value="forgotPasswordModel.Email" type="email" placeholder="Email" class="form-control" />
                <ValidationMessage For="@(() => forgotPasswordModel.Email)" />
            </div>
            <div class="button">
                <button type="submit" class="btn btn-lg submit-button">Send Reset Token</button>
            </div>
            <div class="switch"><b><a href="/reset-password">Reset password</a></b></div>
        </div>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
        @if (!string.IsNullOrEmpty(successMessage))
        {
            <div class="alert alert-success">@successMessage</div>
        }
    </EditForm>
</section>
