@page "/help"

<h3>Help</h3>
<hr />
<p>First, check the FAQs(Frequently Asked Questions) if your question has already been answered. If you can't find the solution to your problem, contact us with the information below.</p>
<br />
<h4>FAQs</h4>
<hr />
<p>
    <div>
        <b>Q: How do I create an event?</b>
        <p> A: Simply click on the "Create Event" button, fill in your event details, and hit "Submit." Your event will be live shortly after approval.</p>
    </div>
    <div>
        <b>Q: How do I purchase tickets for an event?</b>
        <p>A: Navigate to the event's page and click on the "Purchase Tickets" button. Follow the payment instructions to complete your purchase.</p>
    </div>
    <div>
        <b>Q: Can I edit my event after it's published?</b>
        <p> A: Yes, you can edit your event details by clicking the "Edit Event" button on your event's page.</p>
    </div>
    <div>
        <b>Q: How do I cancel an event?</b>
        <p> A: You can cancel your event by going to your event's page and selecting "Cancel Event." Make sure to notify attendees about the cancellation.</p>
    </div>
    <div>
        <b>Q: How do I get a refund for a ticket?</b>
        <p> A: Refund policies vary per event. Check the event's refund policy on its page and contact the organizer if eligible for a refund.</p>
    </div>
    <div>
        <b>Q: How can I contact the event organizer?</b>
        <p> A: There is a "Contact Organizer" button on each event's page that you can use to reach out to the organizer directly.</p>
    </div> 
</p>
<br />
<h4>Contact Us</h4>
<hr />
<h6><i class="fa fa-envelope-o"></i>   Email: info@EventAppClient.com</h6>
<h6><i class="fa fa-phone"></i>   Phone: +2349098373374</h6>
<h6><i class="fa fa-instagram"></i>   Instagram: EventAppClient</h6>
<h6><i class="fa fa-twitter"></i>   X: info@EventAppClient.com</h6>
<br />
@code {

}
