@{
    //TODO: Use ai to generate FAQs.
}
<h3>Help</h3>
<p>First, check the FAQs(Frequently Asked Questions) if your question has already been answered. If you can't find the solution to your problem, contact us with the information below.</p>
@{
    //TODO: Make this collapsible if possible.
}
<h4>FAQs</h4>
<hr />
<h4>Contact Us</h4>
<hr />

@code {

}
