.navbar-2 {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}

    .navbar-2 .navbar-nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

/*Search form*/
.search-container {
    margin-top: 5%;
}

.search {
    width: 100%;
    /*position: relative;*/
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
    border-color: #1F456E;
}

    .searchTerm:focus {
        color: black;
        border-color: #0492C2; /*Cerulean*/
    }

.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #1F456E;
    background: #1F456E; /*Aegean*/
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search button i {
    text-align: center;
}

.wrap {
    width: 40%;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-link:hover {
    background-color: lightblue;
}

b{
    margin-top:5px;
    margin-left:15px;
}

/*Carousel*/
.section-container {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 20px;
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.card {
    position: relative;
    height: 300px;
}

.carousel-card {
    width: 32%;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white; /* Text color */
}

.card-title, .card-text {
    text-align: center; /* This will center align the text */
}

.ongoing, .upcoming{
    text-align: center;
    margin-top: 1cm;
}

.see-more{
    text-align: center;
}

@media (max-width: 768px) {
    .text-center {
        margin-top: 3rem;
    }

    .search {
        width: 200%;
        margin-left: -1.7cm;
    }
}
