@page "/"

<PageTitle>Home</PageTitle>

<nav class="navbar-2 navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:lightgray">
    <div class="container-fluid" style="text-align:center">
        <div></div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About" style="font-weight:700">See All Events <i class="fa fa-globe"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Help" style="font-weight:700">Create Event <i class="fa fa-plus-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact" style="font-weight:700">Live Events <i class="fa fa-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Settings" style="font-weight:700">Events Near Me <i class="fa fa-compass"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Settings" style="font-weight:700">Free Events <i class="fa fa-users"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
@{
    //:Implement search feature
}
<div class="text-center">
    <form class="search-container">
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Search event by Name or Location">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
                <b>Country</b>
                @{
                    //:Implement the filter by country or location
                }
            </div>
        </div>
    </form>
</div>