@page "/login"

<section class="login-section">
    <h3>Login</h3>
    <div class="form">
        <div class="username">
            <Input id="" placeholder="Username">
        </div>
        <div class="password">
            <Input type="text" placeholder="Password">
         </div>
         <div class="button">
            <button class="btn btn-lg login-button">Login</button>
         </div>
    </div>
</section>
