@page "/paymentcancelled";

<div class="col-md-6 offset-3 mt-5 text-center">
    <h1 class="text-danger">Cancelled</h1>
    <img src="https://static.vecteezy.com/system/resources/previews/017/350/132/original/red-cancel-icon-design-png.png" alt="Cancelled" style="height:300px; width:300px" />
    <h4 class="text-danger">
        Payment was cancelled
    </h4>
</div>
