@page "/register"

<section class="login-section">
    <h3>Register</h3>
    <div class="form">
        <div class="username">
            <Input id="" placeholder="Username">
        </div>
        <div class="password">
            <Input type="text" placeholder="Password">
         </div>
         <div class="confirm-password">
            <Input type="text" placeholder="Confirm Password">
         </div>
         <div class="button">
            <button class="btn btn-lg login-button">Sign Up</button>
         </div>
    </div>
</section>