h3 {
    text-align:center;
    margin-top:1cm;
}

.settings-items{
    text-align:center;
    margin-top:0.5cm;
    font-size:large;
}

.settings-items ul {
   list-style-type: none;
}

 button{
     margin-top:0.5cm;
 }

.login-section {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 8px;
    background-color: #ededed;
}
