@inject AuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@page "/settings"

<h3>Settings</h3>
<hr />
<div class="settings-items">
    <ul>
        <li>
            <a href="/change-password">Change Password</a>
        </li>
        <li>
            <a>Provide Bank Info</a>
        </li>
        <li>
            <a>Change Language</a>
        </li>
    </ul>
    <button @onclick="Logout">Logout</button>
</div>

@code{
    private async Task Logout()
    {
        // Call the logout method in the service
        await AuthenticationService.LogoutAsync();
        // Redirect to login page
        NavigationManager.NavigateTo("/login");
    }
}

