@page "/settings"

<h3>Settings</h3>
<div class="settings-items">
    <ul>
        <li>
            <a>Change Password</a>
        </li>
        <li>
            <a>Provide Bank Info</a>
        </li>
        <li>
            <a>Change Language</a>
        </li>
    </ul>
</div>
<hr />
<br />
<h4>Need Help?</h4>
<div>
    <p>FAQ</p>
</div>
<hr />
<br />
<h4>Contact</h4>
