h3 {
    text-align: center;
    margin-top: 1cm;
}

h5 {
    text-align:center;
    margin-top: -10px;
    color:dimgray;
}

.settings-items{
    text-align:center;
    margin-top:0.5cm;
    font-size:large;
    align-items:center;
}

.settings-items ul {
   list-style-type: none;
}

 button{
     margin-top:0.5cm;
 }

.login-section {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    margin-top: 4%;
    margin-bottom: 10%;
    margin:auto;
    border-radius: 8px;
    width: 20%;
}

.login-link{
    text-decoration:none;
    margin-right: 20cm;
}

.svg-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .login-section{
        width:65%;
    }
}
